@import "./base.css";
@import "./normalize.min.css";

#app {
  /* width: 95vw;
  max-width: 1280px; */
  width: min(95vw, 1280px);
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

input {
  border: none;
}

input:focus-visible {
  outline: none;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

@media (width < 720px) {
  #app {
    width: 98vw;
  }
}
